TWILIO_ACCOUNT_SID=your_twilio_account_sid_here
TWILIO_AUTH_TOKEN=your_twilio_auth_token_here
TWILIO_FROM_NUMBER=whatsapp:+14155238886
TWILIO_TO_NUMBER=whatsapp:+your_phone_number_here

IP_WEBCAM_URL=http://192.168.1.100:8080/video
CAMERA_SOURCE=auto
